---
---

<html lang="en" class="bg-black text-white font-sans">
  <head>
    <style>
        @font-face {
          font-family: 'Edo';
          src: url('/fonts/edo.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
        }

        body {
          font-family: 'Edo', cursive;
        }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coming Soon – TANUDAI</title>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  </head>
  <body class="min-h-screen flex flex-col justify-center items-center text-center font-[Permanent Marker]">
    <img src="/deploy_illustration.gif" alt="Deploying" class="w-40 animate-pulse mb-6" />
    <h1 class="text-2xl sm:text-2xl mb-4">DEPLOYING... EVENTUALLY</h1>
    <footer class="absolute bottom-4 text-xs text-gray-500">
      @TANUDAI is on a coffee break!
    </footer>
  </body>
</html>
